<h1>Minha Página Inicial</h1>

<div style="position: absolute; top: 50%; left: 20%;">
  <%= link_to "Entrar", new_user_session_path %>
  <%= link_to "Registrar", new_user_registration_path %>



</div>


