<h1 class="page-title">Lista de Posts</h1>

<div class="post-list text-center">
  <% @posts.each do |post| %>
    <div class="post-item">
      <h2><%= link_to post.content, post %></h2>
      <p><strong>Attachment:</strong> <%= post.attachment %></p>
      <p><strong>Autor:</strong> <%= post.user.email %></p>
      <p><%= link_to "Show this post", post %></p>
      <hr>
    </div>
  <% end %>
</div>
