<h1><%= @post.content %></h1>

<p><strong>Image:</strong> <%= image_tag url_for(@post.image) if @post.image.attached? %></p>
<p><strong>Autor:</strong> <%= @post.user.email %></p>

<%= link_to 'Voltar para a lista de posts', posts_path %>
